<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="052c230b-c347-4176-ba18-e6c8adda9099" Publisher="CN=Mateusz" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="052c230b-c347-4176-ba18-e6c8adda9099" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>SilverFiszki.WindowsPhone</DisplayName>
    <PublisherDisplayName>Mateusz</PublisherDisplayName>
    <Logo>Assets\icon\Icon120.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SilverFiszki.WindowsPhone.App">
      <m3:VisualElements DisplayName="Silver Fishki" Square150x150Logo="Assets\icon\Icon300.png" Square44x44Logo="Assets\icon\Icon120.png" Description="SilverFiszki.WindowsPhone" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\icon\Icon868.png" Square71x71Logo="Assets\icon\Icon210.png">
        </m3:DefaultTile>
        <m3:LockScreen Notification="badge" BadgeLogo="Assets\icon\Icon24.png" />
        <m3:SplashScreen Image="Assets\icon\Icon1116.png" BackgroundColor="#019772" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>